body {
	font-family:"돋움";
	font-size:9pt;
	color:#333333;
	font-weight:normal;
	letter-spacing:0pt;
	line-height:180%;
}
td {
	font-family:"돋움";
	font-size:9pt;
	color:#333333;
	font-weight:normal;
	letter-spacing:0pt;
	line-height:180%;
}
.title {
	font-family:"돋움";
	font-size:9pt;
	color:#174586;
	font-weight:bold;
	padding-top:20px;
}
.title2 {
	font-family:"돋움";
	font-size:9pt;
	color:#FF3300;
	padding-left:10px;
	text-align:left;
}
.clsright {
	padding-right:10px;
	text-align:right;
}
.clsleft {
	padding-left:10px;
	text-align:left;
}
